<routes>
    <root to="authentication.login.Login#index"/>
    <scope name="action">
        <namespace name="authentication">
            <get path="login" to="login.Login#index"/>
            <post path="login/login" to="login.Login#login"/>
            <post path="logout/logout" to="logout.Logout#logout"/>
        </namespace>
        <namespace name="navigation">
            <get path="home" to="home.Home#index"/>
        </namespace>
    </scope>
</routes>
